[submodule "semantic_segmentation"]
	path = semantic_segmentation
	url = https://github.com/MarkTuddenham/awesome-semantic-segmentation-pytorch.git
[submodule "object_detection/UniverseNet"]
	path = object_detection/UniverseNet
	url = https://github.com/shinya7y/UniverseNet.git
[submodule "contrastive_learning"]
	path = contrastive_learning
	url = https://github.com/marktuddenham/barlowtwins.git
