astunparse==1.6.3
attrs==21.2.0
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
cmake==3.20.3
cycler==0.10.0
dataclasses==0.6
flake8==3.8.2
flake8-bugbear==20.1.4
flake8-coding==1.3.3
flake8-comprehensions==3.3.0
flake8-executable==2.0.4
flake8-pyi==20.5.0
future==0.18.2
h5py==3.2.1
idna==2.10
intel-openmp==2021.2.0
kiwisolver==1.3.1
matplotlib==3.4.2
mccabe==0.6.1
mkl==2021.2.0
mkl-include==2021.2.0
ninja==1.10.0.post2
numpy==1.20.3
Pillow==8.2.0
psutil==5.8.0
pycodestyle==2.6.0
pycparser==2.20
pyflakes==2.2.0
pyparsing==2.4.7
python-dateutil==2.8.1
-e git+https://github.com/MarkTuddenham/pytorch-research.git
PyYAML==5.4.1
requests==2.25.1
six==1.16.0
tbb==2021.2.0
-e git+https://github.com/MarkTuddenham/pytorch.git@orth_sgd
torchvision==0.10.0
tqdm==4.61.1
typing-extensions==3.10.0.0
urllib3==1.26.5
